.skillCol
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_barter_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Barter
        button.rollbutton(type='roll' name='roll_Barter' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Barter})]]}} {{fumble=[[ceil(95+([[(@{Barter})]])/20))]]}} {{crit=[[ceil(([[(@{Barter})]])/20)+1]]}} {{special=[[ceil(([[(@{Barter})]])/5)+1]]}}         {{success=[[(@{Barter})]]}} {{roll=[[1d100]]}} {{skillname=Barter}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Barter' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_appraise_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Appraise
        button.rollbutton(type='roll' name='roll_Appraise' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Appraise})]]}} {{fumble=[[ceil(95+([[(@{Appraise})]])/20))]]}} {{crit=[[ceil(([[(@{Appraise})]])/20)+1]]}} {{special=[[ceil(([[(@{Appraise})]])/5)+1]]}}         {{success=[[(@{Appraise})]]}} {{roll=[[1d100]]}} {{skillname=Appraise}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Appraise' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_law_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Law
        button.rollbutton(type='roll' name='roll_Law' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Law})]]}} {{fumble=[[ceil(95+([[(@{Law})]])/20))]]}} {{crit=[[ceil(([[(@{Law})]])/20)+1]]}} {{special=[[ceil(([[(@{Law})]])/5)+1]]}}         {{success=[[(@{Law})]]}} {{roll=[[1d100]]}} {{skillname=Law}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Law' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_science_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Science
        button.rollbutton(type='roll' name='roll_Science' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Science})]]}} {{fumble=[[ceil(95+([[(@{Science})]])/20))]]}} {{crit=[[ceil(([[(@{Science})]])/20)+1]]}} {{special=[[ceil(([[(@{Science})]])/5)+1]]}}         {{success=[[(@{Science})]]}} {{roll=[[1d100]]}} {{skillname=Science}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Science' value='1')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_language_own_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Language (Own)
        button.rollbutton(type='roll' name='roll_Language_Own' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Language_Own})]]}} {{fumble=[[ceil(95+([[(@{Language_Own})]])/20))]]}} {{crit=[[ceil(([[(@{Language_Own})]])/20)+1]]}} {{special=[[ceil(([[(@{Language_Own})]])/5)+1]]}}         {{success=[[(@{Language_Own})]]}} {{roll=[[1d100]]}} {{skillname=Langauge (Own)}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Language_Own' value='50')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_language_other_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Language (Other)
        button.rollbutton(type='roll' name='roll_Language_Other' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Language_Other})]]}} {{fumble=[[ceil(95+([[(@{Language_Other})]])/20))]]}} {{crit=[[ceil(([[(@{Language_Other})]])/20)+1]]}} {{special=[[ceil(([[(@{Language_Other})]])/5)+1]]}}         {{success=[[(@{Language_Other})]]}} {{roll=[[1d100]]}} {{skillname=Langauge (Other)}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Language_Other' value='0')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_reading_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Reading
        button.rollbutton(type='roll' name='roll_Reading' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Reading})]]}} {{fumble=[[ceil(95+([[(@{Reading})]])/20))]]}} {{crit=[[ceil(([[(@{Reading})]])/20)+1]]}} {{special=[[ceil(([[(@{Reading})]])/5)+1]]}}         {{success=[[(@{Reading})]]}} {{roll=[[1d100]]}} {{skillname=Reading}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Reading' value='25')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_persuasion_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Persuasion
        button.rollbutton(type='roll' name='roll_Persuasion' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Persuasion})]]}} {{fumble=[[ceil(95+([[(@{Persuasion})]])/20))]]}} {{crit=[[ceil(([[(@{Persuasion})]])/20)+1]]}} {{special=[[ceil(([[(@{Persuasion})]])/5)+1]]}}         {{success=[[(@{Persuasion})]]}} {{roll=[[1d100]]}} {{skillname=Persuasion}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Persuasion' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_intimidate_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Intimidation
        button.rollbutton(type='roll' name='roll_Intimidate' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Intimidate})]]}} {{fumble=[[ceil(95+([[(@{Intimidate})]])/20))]]}} {{crit=[[ceil(([[(@{Intimidate})]])/20)+1]]}} {{special=[[ceil(([[(@{Intimidate})]])/5)+1]]}}         {{success=[[(@{Intimidate})]]}} {{roll=[[1d100]]}} {{skillname=Intimidate}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Intimidate' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_deception_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Deception
        button.rollbutton(type='roll' name='roll_Deception' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Deception})]]}} {{fumble=[[ceil(95+([[(@{Deception})]])/20))]]}} {{crit=[[ceil(([[(@{Deception})]])/20)+1]]}} {{special=[[ceil(([[(@{Deception})]])/5)+1]]}}         {{success=[[(@{Deception})]]}} {{roll=[[1d100]]}} {{skillname=Deception}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Deception' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_portalFeel_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Portal Feel
        button.rollbutton(type='roll' name='roll_portalFeel' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{portalFeel})]]}} {{fumble=[[ceil(95+([[(@{portalFeel})]])/20))]]}} {{crit=[[ceil(([[(@{portalFeel})]])/20)+1]]}} {{special=[[ceil(([[(@{portalFeel})]])/5)+1]]}}         {{success=[[(@{portalFeel})]]}} {{roll=[[1d100]]}} {{skillname=Portal Feel}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_portalFeel' value='5')
