.skillCol
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_art_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Art / Craft
        button.rollbutton(type='roll' name='roll_Art' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Art})]]}} {{fumble=[[ceil(95+([[(@{Art})]])/20))]]}} {{crit=[[ceil(([[(@{Art})]])/20)+1]]}} {{special=[[ceil(([[(@{Art})]])/5)+1]]}}         {{success=[[(@{Art})]]}} {{roll=[[1d100]]}} {{skillname=Art}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Art' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_natural_world_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Natural World
        button.rollbutton(type='roll' name='roll_Natural_World' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Natural_World})]]}} {{fumble=[[ceil(95+([[(@{Natural_World})]])/20))]]}} {{crit=[[ceil(([[(@{Natural_World})]])/20)+1]]}} {{special=[[ceil(([[(@{Natural_World})]])/5)+1]]}}         {{success=[[(@{Natural_World})]]}} {{roll=[[1d100]]}} {{skillname=Natural World}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Natural_World' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_history_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle History
        button.rollbutton(type='roll' name='roll_History' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{History})]]}} {{fumble=[[ceil(95+([[(@{History})]])/20))]]}} {{crit=[[ceil(([[(@{History})]])/20)+1]]}} {{special=[[ceil(([[(@{History})]])/5)+1]]}}         {{success=[[(@{History})]]}} {{roll=[[1d100]]}} {{skillname=History}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_History' value='10')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_first_aid_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle First Aid
        button.rollbutton(type='roll' name='roll_First_Aid' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{First_Aid})]]}} {{fumble=[[ceil(95+([[(@{First_Aid})]])/20))]]}} {{crit=[[ceil(([[(@{First_Aid})]])/20)+1]]}} {{special=[[ceil(([[(@{First_Aid})]])/5)+1]]}}         {{success=[[(@{First_Aid})]]}} {{roll=[[1d100]]}} {{skillname=First Aid}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_First_Aid' value='20')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_medicine_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Medicine
        button.rollbutton(type='roll' name='roll_Medicine' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Medicine})]]}} {{fumble=[[ceil(95+([[(@{Medicine})]])/20))]]}} {{crit=[[ceil(([[(@{Medicine})]])/20)+1]]}} {{special=[[ceil(([[(@{Medicine})]])/5)+1]]}}         {{success=[[(@{Medicine})]]}} {{roll=[[1d100]]}} {{skillname=Medicine)}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Medicine' value='1')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_repair_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Repair
        button.rollbutton(type='roll' name='roll_Repair' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Repair})]]}} {{fumble=[[ceil(95+([[(@{Repair})]])/20))]]}} {{crit=[[ceil(([[(@{Repair})]])/20)+1]]}} {{special=[[ceil(([[(@{Repair})]])/5)+1]]}}         {{success=[[(@{Repair})]]}} {{roll=[[1d100]]}} {{skillname=Repair}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Repair' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_tracking_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Tracking
        button.rollbutton(type='roll' name='roll_Tracking' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Tracking})]]}} {{fumble=[[ceil(95+([[(@{Tracking})]])/20))]]}} {{crit=[[ceil(([[(@{Tracking})]])/20)+1]]}} {{special=[[ceil(([[(@{Tracking})]])/5)+1]]}}         {{success=[[(@{Tracking})]]}} {{roll=[[1d100]]}} {{skillname=Tracking}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Tracking' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_survival_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Survival
        button.rollbutton(type='roll' name='roll_Survival' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Survival})]]}} {{fumble=[[ceil(95+([[(@{Survival})]])/20))]]}} {{crit=[[ceil(([[(@{Survival})]])/20)+1]]}} {{special=[[ceil(([[(@{Survival})]])/5)+1]]}}         {{success=[[(@{Survival})]]}} {{roll=[[1d100]]}} {{skillname=Survival}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Survival' value='10')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_animal_handling_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Animal Handling
        button.rollbutton(type='roll' name='roll_Animal_Handling' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Animal_Handling})]]}} {{fumble=[[ceil(95+([[(@{Animal_Handling})]])/20))]]}} {{crit=[[ceil(([[(@{Animal_Handling})]])/20)+1]]}} {{special=[[ceil(([[(@{Animal_Handling})]])/5)+1]]}}         {{success=[[(@{Animal_Handling})]]}} {{roll=[[1d100]]}} {{skillname=Animal Handling}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Animal_Handling' value='15')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_occult_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Occult
        button.rollbutton(type='roll' name='roll_Occult' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Occult})]]}} {{fumble=[[ceil(95+([[(@{Occult})]])/20))]]}} {{crit=[[ceil(([[(@{Occult})]])/20)+1]]}} {{special=[[ceil(([[(@{Occult})]])/5)+1]]}}         {{success=[[(@{Occult})]]}} {{roll=[[1d100]]}} {{skillname=Occult}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Occult' value='0')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_unsanity_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Unsanity
        button.rollbutton(type='roll' name='roll_Unsanity' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Unsanity})]]}} {{fumble=[[ceil(95+([[(@{Unsanity})]])/20))]]}} {{crit=[[ceil(([[(@{Unsanity})]])/20)+1]]}} {{special=[[ceil(([[(@{Unsanity})]])/5)+1]]}}         {{success=[[(@{Unsanity})]]}} {{roll=[[1d100]]}} {{skillname=Unsanity}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Unsanity' value='0')
