.skillCol
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Climb_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Climb
        button.rollbutton(type='roll' name='roll_Climb' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Climb})]]}} {{fumble=[[ceil(95+([[(@{Climb})]])/20))]]}} {{crit=[[ceil(([[(@{Climb})]])/20)+1]]}} {{special=[[ceil(([[(@{Climb})]])/5)+1]]}}         {{success=[[(@{Climb})]]}} {{roll=[[1d100]]}} {{skillname=Climb}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Climb' value='25')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Dodge_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Dodge
        button.rollbutton(type='roll' name='roll_Dodge' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Dodge})]]}} {{fumble=[[ceil(95+([[(@{Dodge})]])/20))]]}} {{crit=[[ceil(([[(@{Dodge})]])/20)+1]]}} {{special=[[ceil(([[(@{Dodge})]])/5)+1]]}}         {{success=[[(@{Dodge})]]}} {{roll=[[1d100]]}} {{skillname=Dodge}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Dodge' value='20')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Jump_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Jump
        button.rollbutton(type='roll' name='roll_Jump' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Jump})]]}} {{fumble=[[ceil(95+([[(@{Jump})]])/20))]]}} {{crit=[[ceil(([[(@{Jump})]])/20)+1]]}} {{special=[[ceil(([[(@{Jump})]])/5)+1]]}}         {{success=[[(@{Jump})]]}} {{roll=[[1d100]]}} {{skillname=Jump}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Jump' value='25')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Ride_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Ride
        button.rollbutton(type='roll' name='roll_Ride' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Ride})]]}} {{fumble=[[ceil(95+([[(@{Ride})]])/20))]]}} {{crit=[[ceil(([[(@{Ride})]])/20)+1]]}} {{special=[[ceil(([[(@{Ride})]])/5)+1]]}}         {{success=[[(@{Ride})]]}} {{roll=[[1d100]]}} {{skillname=Ride}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Ride' value='20')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Swim_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Swim
        button.rollbutton(type='roll' name='roll_Swim' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Swim})]]}} {{fumble=[[ceil(95+([[(@{Swim})]])/20))]]}} {{crit=[[ceil(([[(@{Swim})]])/20)+1]]}} {{special=[[ceil(([[(@{Swim})]])/5)+1]]}}         {{success=[[(@{Swim})]]}} {{roll=[[1d100]]}} {{skillname=Swim}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Swim' value='20')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Navigate_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Navigate
        button.rollbutton(type='roll' name='roll_Navigate' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Navigate})]]}} {{fumble=[[ceil(95+([[(@{Navigate})]])/20))]]}} {{crit=[[ceil(([[(@{Navigate})]])/20)+1]]}} {{special=[[ceil(([[(@{Navigate})]])/5)+1]]}}         {{success=[[(@{Navigate})]]}} {{roll=[[1d100]]}} {{skillname=Navigate}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Navigate' value='15')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Stealth_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Stealth
        button.rollbutton(type='roll' name='roll_Stealth' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Stealth})]]}} {{fumble=[[ceil(95+([[(@{Stealth})]])/20))]]}} {{crit=[[ceil(([[(@{Stealth})]])/20)+1]]}} {{special=[[ceil(([[(@{Stealth})]])/5)+1]]}}         {{success=[[(@{Stealth})]]}} {{roll=[[1d100]]}} {{skillname=Stealth}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Stealth' value='10')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Sleight_of_Hand_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Sleight of Hand
        button.rollbutton(type='roll' name='roll_Sleight_of_Hand' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Sleight_of_Hand})]]}} {{fumble=[[ceil(95+([[(@{Sleight_of_Hand})]])/20))]]}} {{crit=[[ceil(([[(@{Sleight_of_Hand})]])/20)+1]]}} {{special=[[ceil(([[(@{Sleight_of_Hand})]])/5)+1]]}}         {{success=[[(@{Sleight_of_Hand})]]}} {{roll=[[1d100]]}} {{skillname=Sleight of Hand}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Sleight_of_Hand' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Disguise_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Disguise
        button.rollbutton(type='roll' name='roll_Disguise' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Disguise})]]}} {{fumble=[[ceil(95+([[(@{Disguise})]])/20))]]}} {{crit=[[ceil(([[(@{Disguise})]])/20)+1]]}} {{special=[[ceil(([[(@{Disguise})]])/5)+1]]}}         {{success=[[(@{Disguise})]]}} {{roll=[[1d100]]}} {{skillname=Disguise}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Disguise' value='5')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Locksmith_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Locksmith
        button.rollbutton(type='roll' name='roll_Locksmith' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Locksmith})]]}} {{fumble=[[ceil(95+([[(@{Locksmith})]])/20))]]}} {{crit=[[ceil(([[(@{Locksmith})]])/20)+1]]}} {{special=[[ceil(([[(@{Locksmith})]])/5)+1]]}}         {{success=[[(@{Locksmith})]]}} {{roll=[[1d100]]}} {{skillname=Locksmith}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Locksmith' value='1')
  .skillDisplay
    label.checkmark.mb0
      input(name='attr_Mountainering_check' type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0
        strong.displayTitle Mountainering
        button.rollbutton(type='roll' name='roll_Mountainering' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Mountainering})]]}} {{fumble=[[ceil(95+([[(@{Mountainering})]])/20))]]}} {{crit=[[ceil(([[(@{Mountainering})]])/20)+1]]}} {{special=[[ceil(([[(@{Mountainering})]])/5)+1]]}}         {{success=[[(@{Mountainering})]]}} {{roll=[[1d100]]}} {{skillnameMountainering}}')
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(type='number' name='attr_Mountainering' value='1')
