include abstracts/mixins

.body
  .header
    h1.title.neon Call of Wondershade
  .base
    .flex-row
      include layout/backgroundInfo
      include layout/stats
    .flex-row(style="padding-top: 0; padding-bottom: 0")
      include layout/forces
    .flex-row(style="padding-top: 0; padding-bottom: 5px")
      include layout/bonusSpellSlots
    .flex-row
      .section.column
        include layout/tabs
        include tabs/skills
        include tabs/combat
        include tabs/magick
        include tabs/items

include roll-templates/cocAttack1
include roll-templates/skilled
include roll-templates/skill

script(type='text/worker')
  include ../js/workers/skill.js

script(type='text/worker')
  include ../js/workers/magick.js

script(type='text/worker')
  include ../js/workers/combat.js

script(type='text/worker')
  include ../js/modules/tabs.js
