include abstracts/mixins

.body
  .header
    h1.title.neon Call of Wondershade
  .base
    .flex-row
      include layout/backgroundInfo
      include layout/stats
    .flex-row    
      include layout/forces
    .flex-row
      .section.column
        include layout/tabs
        include tabs/skills
        include tabs/combat
        include tabs/magick
        include tabs/items
        include tabs/journal
    +dropdown('bonus', 'Bonus Modifier', [
      {value: '-40', text: '-40'},
      {value: '-30', text: '-30'},
      {value: '-20', text: '-20'},
      {value: '-10', text: '-10'},
      {value: '+0', text: '+0', selected: true},
      {value: '+10', text: '+10'},
      {value: '+20', text: '+20'},
      {value: '+30', text: '+30'},
      {value: '+40', text: '+40'},
    ])

include roll-templates/cocAttack1
include roll-templates/skilled
include roll-templates/skill

script(type='text/worker')
  include ../js/workers/skill.js

script(type='text/worker')
  include ../js/workers/magick.js

script(type='text/worker')
  include ../js/modules/tabs.js
