include abstracts/mixins

.body
  .header
    h1.title Call of Wondershade
  .base
    .flex-row
      include layout/backgroundInfo
      include layout/stats
    .flex-row    
      include layout/forces
    .flex-row.mt5
      .section.column
        include layout/tabs
        include tabs/skills
        include tabs/combat
        include tabs/magick
        include tabs/items

include roll-templates/cocAttack1
include roll-templates/skillz

script(type='text/worker')
  include ../js/modules/tabs.js
