.items
  h1.skillHeading Inventory
  .flex-row
    .column.removeSides(style="display: flex; align-items: center; flex-direction: column")
      label.label(style="width: auto") Copper
      input.input.shaded-input.fit-width.font-2(type='text' name='attr_copper' placeholder='0' style="width: 8vw")
    .column.removeSides(style="display: flex; align-items: center; flex-direction: column")
      label.label(style="width: auto") Silver
      input.input.shaded-input.fit-width.font-2(type='text' name='attr_silver' placeholder='0' style="width: 8vw")
    .column.removeSides(style="display: flex; align-items: center; flex-direction: column")
      label.label(style="width: auto") Gold
      input.input.shaded-input.fit-width.font-2(type='text' name='attr_gold' placeholder='0' style="width: 8vw")
    .column.removeSides(style="display: flex; align-items: center; flex-direction: column")
      label.label(style="width: auto") Platinum
      input.input.shaded-input.fit-width.font-2(type='text' name='attr_platinum' placeholder='0' style="width: 8vw")
    .column.removeSides(style="display: flex; align-items: center; flex-direction: column")
      label.label(style="width: auto") Drops
      input.input.shaded-input.fit-width.font-2(type='text' name='attr_drops' placeholder='0' style="width: 8vw")
  hr(style="border-color: #887389;")
  fieldset.repeating_items(style='margin-left: 0.8rem; margin-right: 1.6rem;')
    .flex-row(style='margin-left: 2.5rem')
      .column.removeSides
        .label
          input.input.shaded-input.fit-width.font-2(type='text' name='attr_itemName' placeholder='Item Name')
      .column.removeSides(style='max-width: 30.8%;')
        .label
          input.input.shaded-input.font-2(type='text' name='attr_itemType' placeholder='Type/Amount')
    div(style='margin-top: -1rem;')
      label.check-label
        input.toggle-box.toggle-show(type='checkbox' name='a')
        span.checkPlus &amp;
        span.checkMinus _
        .hiddenSection.flex-row
          .column.removeSides
            .label
              textarea.input.shaded-input(
                name='attr_itemDesc'
                style="text-align: left; font-size: 1.8rem; margin-bottom: 0; font-family: fangsong;"
                placeholder='Description'
                )
