.items
  h1.skillHeading Items
  fieldset.repeating_items(style='margin-left: 0.8rem; margin-right: 1.6rem;')
    .flex-row(style='margin-left: 2.5rem')
      .column.removeSides
        .label
          input.input.shaded-input.fit-width.font-2(type='text' name='attr_itemName' placeholder='Item Name')
      .column.removeSides(style='max-width: 30.8%;')
        .label
          input.input.shaded-input.font-2(type='text' name='attr_itemType' placeholder='Type/Amount')
    div(style='margin-top: -1rem;')
      label.check-label
        input.toggle-box.toggle-show(type='checkbox' name='a')
        span.checkPlus &amp;
        span.checkMinus _
        .hiddenSection.flex-row
          .column.removeSides
            .label
              textarea.input.shaded-input(
                name='attr_itemDesc'
                style="text-align: left; font-size: 2rem; margin-bottom: 0"
                placeholder='Description'
                )
