.journal
  h1.skillHeading Journal
  fieldset.repeating_journal
    .flex-row
      .column(style="padding-top: 0; padding-bottom: 0")
        .flex-row
          input.input.shaded-input.fit-width.font-2(type="text" placeholder="Title" name="attr_journalTitle" style="margin-bottom: .5rem; margin-right: .5rem")

          input.input.shaded-input.fit-width.font-2(type="text" placeholder="Date" name="attr_journalDate" style="margin-bottom: .5rem; margin-left: .5rem")
        .flex-row

          textarea.shaded-input.journal-entry(name="attr_journalEntry" rows="4" placeholder="Journal Entry")) 
        hr.journal-border
