.magick
  h1.skillHeading Magick
  fieldset.repeating_spell
    .flex-row
      .column.fit-size(style='display: flex')
        button.spell_button(type='action' name='act_magick-roll' title='So anyway I just started blasting')
      .column.removeSides
        .label
          input.input.min-input.shaded-input.font-2(type='text' name='attr_spellname' placeholder='Spell Name')
      .column.removeSides
        .label
          input.input.min-input.shaded-input.font-2(type='text' name='attr_spellcost' placeholder='Cost')
      .column.removeSides
        .label
          input.input.min-input.shaded-input.font-2(type='text' name='attr_spelltype' placeholder='Type')
      .column.removeSides
        .label
          input.input.min-input.shaded-input.font-2(type='text' name='attr_spelldamage' placeholder='Damage')
