.skills
  h1.skillHeading Skills
  .skillSection
    .skillCol
      each skill in skills.left
        +skill(skill.name, skill.value)
    .skillCol
      each skill in skills.middle
        +skill(skill.name, skill.value)
    .skillCol
      each skill in skills.right
        +skill(skill.name, skill.value)
