.section.column.pt0.even-spaced-col
  .flex-row
    +txtInput('character_name', 'Name:')(style="font-size: 2.2rem")
    +miniNumInput('level')
  .flex-row
    +miniNumInput('age')(style='margin-right: 0.6rem;')
    +miniTxtInput('profession')(style='font-size: 2.2rem')
