.section.flex-row(style='width: 100%; justify-content: space-evenly;')
  .flex-col(style='display: flex; align-items: center; justify-content: center')
    +dropdown('bonus', 'Bonus Modifier', [
      {value: '-40', text: '40% Easier'},
      {value: '-30', text: '30% Easier'},
      {value: '-25', text: '25% Easier'},
      {value: '-20', text: '20% Easier'},
      {value: '-15', text: '15% Easier'},
      {value: '-10', text: '10% Easier'},
      {value: '-5', text: '5% Easier'},
      {value: '0', text: 'No Bonus / Penalty', selected: true},
      {value: '5', text: '5% Harder'},
      {value: '10', text: '10% Harder'},
      {value: '15', text: '15% Harder'},
      {value: '20', text: '20% Harder'},
      {value: '25', text: '25% Harder'},
      {value: '30', text: '30% Harder'},
      {value: '40', text: '40% Harder'},
    ])(class=['mini-drop'] style='margin-left: 0!important')
  .flex-col(style="min-width: 155px;")
    .stat-block
      label.label.flex-col.align-center.clickable-label
        .flex-row.align-center.justify-center
          span INIT
          button.skillButton(type='action' name='act_initRoll' title='Initiative')
        input.input.mini-number.center-txt(type='number' name=`attr_initiative` value='0')
  .flex-column.flex(style='justify-content: center; width: 60px; margin-right: 4rem;')
    .stat-block
      label.label.flex-col.align-center.clickable-label
        .flex-row.align-center.justify-center
          span Short Rest
          button.skillButton(type='roll' value="&{template:default} {{name=Short Rest}} {{Recover=  You heal [[ [[?{How many hit dice do you spend?|1}]]?{What's your Hit dice?|d4|d6|d8|d10|d12|d20} ]] hit points, having spent $[[0]] of your hit dice.}}")

