.stat-blocks.column
  .flex-row.justify-evenly
    each stat in stats.top
      +stat(stat.shortTxt, stat.fullTxt)
  .flex-row.justify-evenly
    each stat in stats.bottom
      +stat(stat.shortTxt, stat.fullTxt)
