.flex-row.align-center.justify-evenly.mt5.negativeBottomMargin
  button.tabButton(type='action' name='act_skills') Skills
  button.tabButton(type='action' name='act_combat') Combat
  button.tabButton(type='action' name='act_magick') Magick
  button.tabButton(type='action' name='act_items') Inventory
input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='items')
