rolltemplate.sheet-rolltemplate-skillzRoll
  .rollContainer
    h1 {{skillname}}
    h2 {{name}}
    .rollWrapper
      | {{#^rollBetween() roll fumble 100}}
      | {{#rollGreater() success 99}}
      | {{#rollLess() roll crit}}
      .rollSuccess
        span critical success
      |         {{/rollLess() roll crit}}
      |         {{#^rollLess() roll crit}}
      |           {{#rollLess() roll special}}
      .rollSuccess
        span hard success nonspecial
      |           {{/rollLess() roll special}}
      |           {{#^rollLess() roll special}}
      .rollSuccess
        span success
      |           {{/^rollLess() roll special}}
      |         {{/^rollLess() roll crit}}
      |       {{/rollGreater() success 99}}
      |       {{#^rollGreater() success 99}}
      |         {{#rollLess() roll crit}}
      .rollSuccess
        span critical success
      |         {{/rollLess() roll crit}}
      |         {{#^rollLess() roll crit}}
      |           {{#rollLess() roll special}}
      .rollSuccess
        span extreme success
      |           {{/rollLess() roll special}}
      |           {{#^rollLess() roll special}}
      |             {{#rollBetween() roll special success}}
      .rollSuccess
        span success
      |             {{/rollBetween() roll special success}}
      |             {{#^rollBetween() roll special success}}
      |               {{#rollLess() roll fumble}}
      .rollFailure
        span failure
      |               {{/rollLess() roll fumble}}
      |               {{#^rollLess() roll fumble}}
      .rollFailure
        span fumble
      |               {{/^rollLess() roll fumble}}&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      |             {{/^rollBetween() roll special success}}&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      |           {{/^rollLess() roll special}}
      |         {{/^rollLess() roll crit}}
      |       {{/^rollGreater() success 99}}
      |     {{/^rollBetween() roll fumble 100}}
      .rollResult
        span.roll {{roll}}
        span.vs
          span vs.
        span.roll {{skillvalue}}
