include abstracts/mixins

.body
  .header
    h1.title Call of Wondershade
  .base
    .frow
      .section.column
        .form
          label.label
            | Name:
            input.input(type='text' name='attr_character_name')
        .frow
          .form
            label.label
              | Age:
              input.input.mininumber(type='number' name='attr_age' style='margin-right: 0.6rem;')
          .form.fitcontent
            label.label
              | Gender:
              input.input.mininput(type='text' name='attr_gender')
        .form
          label.label
            | Profession:
            input.input(type='text' name='attr_profession')
        .frow
          .form.fitcontent
            label.label
              | Residence:
              input.input.mininput(type='text' name='attr_residence')
          .form.fitcontent
            label.label
              | Birthplace:
              input.input.mininput(type='text' name='attr_birthplace')
      .column.pt0
        .statblocks.column
          .frow.justifyevenly
            each stat in stats
              +stat(stat.shortTxt, stat.fullTxt)
          .frow.justifyevenly.mt5
            .statblock.section
              label.label.fcol.aligncenter
                .frow.aligncenter
                  span COMP
                  button.rollbutton(type='roll' name='roll_Comp' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Composure})]]}} {{fumble=[[ceil(95+([[(@{Composure})]])/20))]]}} {{crit=[[ceil(([[(@{Composure})]])/20)+1]]}} {{special=[[ceil(([[(@{Composure})]])/5)+1]]}}         {{success=[[(@{Composure})]]}} {{roll=[[1d100]]}} {{skillname=Composure}}')
                input.input.mininumber.centertext(type='number' name='attr_Composure' value='0')
            .statblock.section
              label.label.fcol.aligncenter
                .frow.aligncenter
                  span SIZE
                  button.rollbutton(type='roll' name='roll_Size' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Size})]]}} {{fumble=[[ceil(95+([[(@{Size})]])/20))]]}} {{crit=[[ceil(([[(@{Size})]])/20)+1]]}} {{special=[[ceil(([[(@{Size})]])/5)+1]]}}         {{success=[[(@{Size})]]}} {{roll=[[1d100]]}} {{skillname=Size}}')
                input.input.mininumber.centertext(type='number' name='attr_Size' value='0')
            .statblock.section
              label.label.fcol.aligncenter
                .frow.aligncenter
                  span EDU
                  button.rollbutton(type='roll' name='roll_Edu' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Education})]]}} {{fumble=[[ceil(95+([[(@{Education})]])/20))]]}} {{crit=[[ceil(([[(@{Education})]])/20)+1]]}} {{special=[[ceil(([[(@{Education})]])/5)+1]]}}         {{success=[[(@{Education})]]}} {{roll=[[1d100]]}} {{skillname=Education}}')
                input.input.mininumber.centertext(type='number' name='attr_Education' value='0')
            .statblock.section
              label.label.fcol.aligncenter
                .frow.aligncenter
                  span LUCK
                  button.rollbutton(type='roll' name='roll_Luck' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Luck})]]}} {{fumble=[[ceil(95+([[(@{Luck})]])/20))]]}} {{crit=[[ceil(([[(@{Luck})]])/20)+1]]}} {{special=[[ceil(([[(@{Luck})]])/5)+1]]}}         {{success=[[(@{Luck})]]}} {{roll=[[1d100]]}} {{skillname=Luck}}')
                input.input.mininumber.centertext(type='number' name='attr_Luck' value='0')
            .statblock.section
              label.label.fcol.aligncenter
                .frow.aligncenter
                  span I.LUCK
                  button.rollbutton(type='roll' name='roll_iLuck' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{InnateLuck})]]}} {{fumble=[[ceil(95+([[(@{InnateLuck})]])/20))]]}} {{crit=[[ceil(([[(@{InnateLuck})]])/20)+1]]}} {{special=[[ceil(([[(@{InnateLuck})]])/5)+1]]}}         {{success=[[(@{InnateLuck})]]}} {{roll=[[1d100]]}} {{skillname=InnateLuck}}')
                input.input.mininumber.centertext(type='number' name='attr_InnateLuck' value='0')
        .column.mt5
          .frow
            .section.column
              .statblocks.column
                .frow.justifyevenly
                  .statblock.section
                    label.label.fcol.aligncenter
                      .frow.aligncenter
                        span.doubleLabel SANITY
                        button.rollbutton(type='roll' name='roll_San' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Sanity})]]}} {{fumble=[[ceil(95+([[(@{Sanity})]])/20))]]}} {{crit=[[ceil(([[(@{Sanity})]])/20)+1]]}} {{special=[[ceil(([[(@{Sanity})]])/5)+1]]}}         {{success=[[(@{Sanity})]]}} {{roll=[[1d100]]}} {{skillname=Sanity}}')
                      .frow.aligncenter
                        input.input.mininumber.centertext(type='number' name='attr_Sanity' value='0')
                        span.vs /
                        input.input.mininumber.centertext(type='number' name='attr_MaxSanity' value='0')
            .section.column
              .statblocks.column
                .frow.justifyevenly
                  .statblock.section
                    label.label.fcol.aligncenter
                      .frow.aligncenter
                        span.doubleLabel COMP
                        button.rollbutton(type='roll' name='roll_Comp' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Composure})]]}} {{fumble=[[ceil(95+([[(@{Composure})]])/20))]]}} {{crit=[[ceil(([[(@{Composure})]])/20)+1]]}} {{special=[[ceil(([[(@{Composure})]])/5)+1]]}}         {{success=[[(@{Composure})]]}} {{roll=[[1d100]]}} {{skillname=Composure}}')
                      .frow.aligncenter
                        input.input.mininumber.centertext(type='number' name='attr_Composure' value='0')
                        span.vs /
                        input.input.mininumber.centertext(type='number' name='attr_MaxComposure' value='0')
            .section.column
              .statblocks.column
                .frow.justifyevenly
                  .statblock.section
                    label.label.fcol.aligncenter
                      .frow.aligncenter
                        span.doubleLabel HEALTH
                        button.rollbutton(type='roll' name='roll_Health' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Health})]]}} {{fumble=[[ceil(95+([[(@{Health})]])/20))]]}} {{crit=[[ceil(([[(@{Health})]])/20)+1]]}} {{special=[[ceil(([[(@{Health})]])/5)+1]]}}         {{success=[[(@{Health})]]}} {{roll=[[1d100]]}} {{skillname=Health}}')
                      .frow.aligncenter
                        input.input.mininumber.centertext(type='number' name='attr_Health' value='0')
                        span.vs /
                        input.input.mininumber.centertext(type='number' name='attr_MaxHealth' value='0')
    .frow.mt5
      .section.column
        .frow.aligncenter.justifyevenly.mt5.negativeBottomMargin
          button.tabButton(type='action' name='act_skills') Skills
          button.tabButton(type='action' name='act_combat') Combat
          button.tabButton(type='action' name='act_magic') Magic
          button.tabButton(type='action' name='act_items') Items
        input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='items')
        .skills
          h1.skillHeading Skills
          .skillSection
            .skillCol
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_barter_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Barter
                    button.rollbutton(type='roll' name='roll_Barter' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Barter})]]}} {{fumble=[[ceil(95+([[(@{Barter})]])/20))]]}} {{crit=[[ceil(([[(@{Barter})]])/20)+1]]}} {{special=[[ceil(([[(@{Barter})]])/5)+1]]}}         {{success=[[(@{Barter})]]}} {{roll=[[1d100]]}} {{skillname=Barter}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Barter' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_appraise_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Appraise
                    button.rollbutton(type='roll' name='roll_Appraise' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Appraise})]]}} {{fumble=[[ceil(95+([[(@{Appraise})]])/20))]]}} {{crit=[[ceil(([[(@{Appraise})]])/20)+1]]}} {{special=[[ceil(([[(@{Appraise})]])/5)+1]]}}         {{success=[[(@{Appraise})]]}} {{roll=[[1d100]]}} {{skillname=Appraise}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Appraise' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_law_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Law
                    button.rollbutton(type='roll' name='roll_Law' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Law})]]}} {{fumble=[[ceil(95+([[(@{Law})]])/20))]]}} {{crit=[[ceil(([[(@{Law})]])/20)+1]]}} {{special=[[ceil(([[(@{Law})]])/5)+1]]}}         {{success=[[(@{Law})]]}} {{roll=[[1d100]]}} {{skillname=Law}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Law' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_science_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Science
                    button.rollbutton(type='roll' name='roll_Science' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Science})]]}} {{fumble=[[ceil(95+([[(@{Science})]])/20))]]}} {{crit=[[ceil(([[(@{Science})]])/20)+1]]}} {{special=[[ceil(([[(@{Science})]])/5)+1]]}}         {{success=[[(@{Science})]]}} {{roll=[[1d100]]}} {{skillname=Science}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Science' value='1')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_language_own_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Language (Own)
                    button.rollbutton(type='roll' name='roll_Language_Own' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Language_Own})]]}} {{fumble=[[ceil(95+([[(@{Language_Own})]])/20))]]}} {{crit=[[ceil(([[(@{Language_Own})]])/20)+1]]}} {{special=[[ceil(([[(@{Language_Own})]])/5)+1]]}}         {{success=[[(@{Language_Own})]]}} {{roll=[[1d100]]}} {{skillname=Langauge (Own)}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Language_Own' value='50')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_language_other_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Language (Other)
                    button.rollbutton(type='roll' name='roll_Language_Other' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Language_Other})]]}} {{fumble=[[ceil(95+([[(@{Language_Other})]])/20))]]}} {{crit=[[ceil(([[(@{Language_Other})]])/20)+1]]}} {{special=[[ceil(([[(@{Language_Other})]])/5)+1]]}}         {{success=[[(@{Language_Other})]]}} {{roll=[[1d100]]}} {{skillname=Langauge (Other)}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Language_Other' value='0')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_reading_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Reading
                    button.rollbutton(type='roll' name='roll_Reading' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Reading})]]}} {{fumble=[[ceil(95+([[(@{Reading})]])/20))]]}} {{crit=[[ceil(([[(@{Reading})]])/20)+1]]}} {{special=[[ceil(([[(@{Reading})]])/5)+1]]}}         {{success=[[(@{Reading})]]}} {{roll=[[1d100]]}} {{skillname=Reading}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Reading' value='25')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_persuasion_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Persuasion
                    button.rollbutton(type='roll' name='roll_Persuasion' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Persuasion})]]}} {{fumble=[[ceil(95+([[(@{Persuasion})]])/20))]]}} {{crit=[[ceil(([[(@{Persuasion})]])/20)+1]]}} {{special=[[ceil(([[(@{Persuasion})]])/5)+1]]}}         {{success=[[(@{Persuasion})]]}} {{roll=[[1d100]]}} {{skillname=Persuasion}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Persuasion' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_intimidate_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Intimidation
                    button.rollbutton(type='roll' name='roll_Intimidate' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Intimidate})]]}} {{fumble=[[ceil(95+([[(@{Intimidate})]])/20))]]}} {{crit=[[ceil(([[(@{Intimidate})]])/20)+1]]}} {{special=[[ceil(([[(@{Intimidate})]])/5)+1]]}}         {{success=[[(@{Intimidate})]]}} {{roll=[[1d100]]}} {{skillname=Intimidate}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Intimidate' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_deception_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Deception
                    button.rollbutton(type='roll' name='roll_Deception' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Deception})]]}} {{fumble=[[ceil(95+([[(@{Deception})]])/20))]]}} {{crit=[[ceil(([[(@{Deception})]])/20)+1]]}} {{special=[[ceil(([[(@{Deception})]])/5)+1]]}}         {{success=[[(@{Deception})]]}} {{roll=[[1d100]]}} {{skillname=Deception}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Deception' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_portalFeel_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Portal Feel
                    button.rollbutton(type='roll' name='roll_portalFeel' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{portalFeel})]]}} {{fumble=[[ceil(95+([[(@{portalFeel})]])/20))]]}} {{crit=[[ceil(([[(@{portalFeel})]])/20)+1]]}} {{special=[[ceil(([[(@{portalFeel})]])/5)+1]]}}         {{success=[[(@{portalFeel})]]}} {{roll=[[1d100]]}} {{skillname=Portal Feel}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_portalFeel' value='5')
            .skillCol
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_art_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Art / Craft
                    button.rollbutton(type='roll' name='roll_Art' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Art})]]}} {{fumble=[[ceil(95+([[(@{Art})]])/20))]]}} {{crit=[[ceil(([[(@{Art})]])/20)+1]]}} {{special=[[ceil(([[(@{Art})]])/5)+1]]}}         {{success=[[(@{Art})]]}} {{roll=[[1d100]]}} {{skillname=Art}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Art' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_natural_world_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Natural World
                    button.rollbutton(type='roll' name='roll_Natural_World' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Natural_World})]]}} {{fumble=[[ceil(95+([[(@{Natural_World})]])/20))]]}} {{crit=[[ceil(([[(@{Natural_World})]])/20)+1]]}} {{special=[[ceil(([[(@{Natural_World})]])/5)+1]]}}         {{success=[[(@{Natural_World})]]}} {{roll=[[1d100]]}} {{skillname=Natural World}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Natural_World' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_history_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle History
                    button.rollbutton(type='roll' name='roll_History' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{History})]]}} {{fumble=[[ceil(95+([[(@{History})]])/20))]]}} {{crit=[[ceil(([[(@{History})]])/20)+1]]}} {{special=[[ceil(([[(@{History})]])/5)+1]]}}         {{success=[[(@{History})]]}} {{roll=[[1d100]]}} {{skillname=History}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_History' value='10')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_first_aid_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle First Aid
                    button.rollbutton(type='roll' name='roll_First_Aid' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{First_Aid})]]}} {{fumble=[[ceil(95+([[(@{First_Aid})]])/20))]]}} {{crit=[[ceil(([[(@{First_Aid})]])/20)+1]]}} {{special=[[ceil(([[(@{First_Aid})]])/5)+1]]}}         {{success=[[(@{First_Aid})]]}} {{roll=[[1d100]]}} {{skillname=First Aid}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_First_Aid' value='20')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_medicine_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Medicine
                    button.rollbutton(type='roll' name='roll_Medicine' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Medicine})]]}} {{fumble=[[ceil(95+([[(@{Medicine})]])/20))]]}} {{crit=[[ceil(([[(@{Medicine})]])/20)+1]]}} {{special=[[ceil(([[(@{Medicine})]])/5)+1]]}}         {{success=[[(@{Medicine})]]}} {{roll=[[1d100]]}} {{skillname=Medicine)}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Medicine' value='1')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_repair_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Repair
                    button.rollbutton(type='roll' name='roll_Repair' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Repair})]]}} {{fumble=[[ceil(95+([[(@{Repair})]])/20))]]}} {{crit=[[ceil(([[(@{Repair})]])/20)+1]]}} {{special=[[ceil(([[(@{Repair})]])/5)+1]]}}         {{success=[[(@{Repair})]]}} {{roll=[[1d100]]}} {{skillname=Repair}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Repair' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_tracking_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Tracking
                    button.rollbutton(type='roll' name='roll_Tracking' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Tracking})]]}} {{fumble=[[ceil(95+([[(@{Tracking})]])/20))]]}} {{crit=[[ceil(([[(@{Tracking})]])/20)+1]]}} {{special=[[ceil(([[(@{Tracking})]])/5)+1]]}}         {{success=[[(@{Tracking})]]}} {{roll=[[1d100]]}} {{skillname=Tracking}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Tracking' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_survival_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Survival
                    button.rollbutton(type='roll' name='roll_Survival' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Survival})]]}} {{fumble=[[ceil(95+([[(@{Survival})]])/20))]]}} {{crit=[[ceil(([[(@{Survival})]])/20)+1]]}} {{special=[[ceil(([[(@{Survival})]])/5)+1]]}}         {{success=[[(@{Survival})]]}} {{roll=[[1d100]]}} {{skillname=Survival}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Survival' value='10')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_animal_handling_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Animal Handling
                    button.rollbutton(type='roll' name='roll_Animal_Handling' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Animal_Handling})]]}} {{fumble=[[ceil(95+([[(@{Animal_Handling})]])/20))]]}} {{crit=[[ceil(([[(@{Animal_Handling})]])/20)+1]]}} {{special=[[ceil(([[(@{Animal_Handling})]])/5)+1]]}}         {{success=[[(@{Animal_Handling})]]}} {{roll=[[1d100]]}} {{skillname=Animal Handling}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Animal_Handling' value='15')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_occult_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Occult
                    button.rollbutton(type='roll' name='roll_Occult' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Occult})]]}} {{fumble=[[ceil(95+([[(@{Occult})]])/20))]]}} {{crit=[[ceil(([[(@{Occult})]])/20)+1]]}} {{special=[[ceil(([[(@{Occult})]])/5)+1]]}}         {{success=[[(@{Occult})]]}} {{roll=[[1d100]]}} {{skillname=Occult}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Occult' value='0')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_unsanity_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Unsanity
                    button.rollbutton(type='roll' name='roll_Unsanity' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Unsanity})]]}} {{fumble=[[ceil(95+([[(@{Unsanity})]])/20))]]}} {{crit=[[ceil(([[(@{Unsanity})]])/20)+1]]}} {{special=[[ceil(([[(@{Unsanity})]])/5)+1]]}}         {{success=[[(@{Unsanity})]]}} {{roll=[[1d100]]}} {{skillname=Unsanity}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Unsanity' value='0')
            .skillCol
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Climb_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Climb
                    button.rollbutton(type='roll' name='roll_Climb' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Climb})]]}} {{fumble=[[ceil(95+([[(@{Climb})]])/20))]]}} {{crit=[[ceil(([[(@{Climb})]])/20)+1]]}} {{special=[[ceil(([[(@{Climb})]])/5)+1]]}}         {{success=[[(@{Climb})]]}} {{roll=[[1d100]]}} {{skillname=Climb}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Climb' value='25')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Dodge_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Dodge
                    button.rollbutton(type='roll' name='roll_Dodge' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Dodge})]]}} {{fumble=[[ceil(95+([[(@{Dodge})]])/20))]]}} {{crit=[[ceil(([[(@{Dodge})]])/20)+1]]}} {{special=[[ceil(([[(@{Dodge})]])/5)+1]]}}         {{success=[[(@{Dodge})]]}} {{roll=[[1d100]]}} {{skillname=Dodge}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Dodge' value='20')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Jump_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Jump
                    button.rollbutton(type='roll' name='roll_Jump' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Jump})]]}} {{fumble=[[ceil(95+([[(@{Jump})]])/20))]]}} {{crit=[[ceil(([[(@{Jump})]])/20)+1]]}} {{special=[[ceil(([[(@{Jump})]])/5)+1]]}}         {{success=[[(@{Jump})]]}} {{roll=[[1d100]]}} {{skillname=Jump}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Jump' value='25')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Ride_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Ride
                    button.rollbutton(type='roll' name='roll_Ride' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Ride})]]}} {{fumble=[[ceil(95+([[(@{Ride})]])/20))]]}} {{crit=[[ceil(([[(@{Ride})]])/20)+1]]}} {{special=[[ceil(([[(@{Ride})]])/5)+1]]}}         {{success=[[(@{Ride})]]}} {{roll=[[1d100]]}} {{skillname=Ride}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Ride' value='20')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Swim_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Swim
                    button.rollbutton(type='roll' name='roll_Swim' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Swim})]]}} {{fumble=[[ceil(95+([[(@{Swim})]])/20))]]}} {{crit=[[ceil(([[(@{Swim})]])/20)+1]]}} {{special=[[ceil(([[(@{Swim})]])/5)+1]]}}         {{success=[[(@{Swim})]]}} {{roll=[[1d100]]}} {{skillname=Swim}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Swim' value='20')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Navigate_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Navigate
                    button.rollbutton(type='roll' name='roll_Navigate' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Navigate})]]}} {{fumble=[[ceil(95+([[(@{Navigate})]])/20))]]}} {{crit=[[ceil(([[(@{Navigate})]])/20)+1]]}} {{special=[[ceil(([[(@{Navigate})]])/5)+1]]}}         {{success=[[(@{Navigate})]]}} {{roll=[[1d100]]}} {{skillname=Navigate}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Navigate' value='15')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Stealth_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Stealth
                    button.rollbutton(type='roll' name='roll_Stealth' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Stealth})]]}} {{fumble=[[ceil(95+([[(@{Stealth})]])/20))]]}} {{crit=[[ceil(([[(@{Stealth})]])/20)+1]]}} {{special=[[ceil(([[(@{Stealth})]])/5)+1]]}}         {{success=[[(@{Stealth})]]}} {{roll=[[1d100]]}} {{skillname=Stealth}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Stealth' value='10')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Sleight_of_Hand_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Sleight of Hand
                    button.rollbutton(type='roll' name='roll_Sleight_of_Hand' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Sleight_of_Hand})]]}} {{fumble=[[ceil(95+([[(@{Sleight_of_Hand})]])/20))]]}} {{crit=[[ceil(([[(@{Sleight_of_Hand})]])/20)+1]]}} {{special=[[ceil(([[(@{Sleight_of_Hand})]])/5)+1]]}}         {{success=[[(@{Sleight_of_Hand})]]}} {{roll=[[1d100]]}} {{skillname=Sleight of Hand}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Sleight_of_Hand' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Disguise_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Disguise
                    button.rollbutton(type='roll' name='roll_Disguise' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Disguise})]]}} {{fumble=[[ceil(95+([[(@{Disguise})]])/20))]]}} {{crit=[[ceil(([[(@{Disguise})]])/20)+1]]}} {{special=[[ceil(([[(@{Disguise})]])/5)+1]]}}         {{success=[[(@{Disguise})]]}} {{roll=[[1d100]]}} {{skillname=Disguise}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Disguise' value='5')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Locksmith_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Locksmith
                    button.rollbutton(type='roll' name='roll_Locksmith' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Locksmith})]]}} {{fumble=[[ceil(95+([[(@{Locksmith})]])/20))]]}} {{crit=[[ceil(([[(@{Locksmith})]])/20)+1]]}} {{special=[[ceil(([[(@{Locksmith})]])/5)+1]]}}         {{success=[[(@{Locksmith})]]}} {{roll=[[1d100]]}} {{skillname=Locksmith}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Locksmith' value='1')
              .skillDisplay
                label.checkmark.mb0
                  input(name='attr_Mountainering_check' type='checkbox')
                  span
                .skillLabelCol.pr0
                  label.mb0
                    strong.displayTitle Mountainering
                    button.rollbutton(type='roll' name='roll_Mountainering' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Mountainering})]]}} {{fumble=[[ceil(95+([[(@{Mountainering})]])/20))]]}} {{crit=[[ceil(([[(@{Mountainering})]])/20)+1]]}} {{special=[[ceil(([[(@{Mountainering})]])/5)+1]]}}         {{success=[[(@{Mountainering})]]}} {{roll=[[1d100]]}} {{skillnameMountainering}}')
                  label.mb0.pr0.fullHeight
                    input.input.skillInput.lora.fullHeight(type='number' name='attr_Mountainering' value='1')
        .combat
          h1.skillHeading Combat
          span Combat Stuff Goes here
        .magic
          h1.skillHeading Magic
          .frow
            .column.fitSize
              h3.centerText Roll
            .column.removeSides
              h3.centerText Spell Name
            .column.removeSides
              h3.centerText Cost
            .column.removeSides
              h3.centerText Type
            .column.removeSides
              h3.centerText Damage
          fieldset.repeating_spell-level1
            .frow
              .column.fitSize
                button.spell_button(type='roll' name='roll_spell' value='&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{Unsanity})]]}} {{fumble=[[ceil(95+([[(@{Unsanity})]])/20))]]}} {{crit=[[ceil(([[(@{Unsanity})]])/20)+1]]}} {{special=[[ceil(([[(@{Unsanity})]])/5)+1]]}}         {{success=[[(@{Unsanity})]]}} {{roll=[[1d100]]}} {{skillname=@{spellname}}}')
              .column.removeSides
                .label
                  input.input.mininput.shaddedInput(type='text' name='attr_spellname')
              .column.removeSides
                .label
                  input.input.mininput.shaddedInput(type='text' name='attr_spellcost')
              .column.removeSides
                .label
                  input.input.mininput.shaddedInput(type='text' name='attr_spelltype')
              .column.removeSides
                .label
                  input.input.mininput.shaddedInput(type='text' name='attr_spelldamage')
        .items
          h1.skillHeading Items
          fieldset.repeating_items(style='margin-left: 0.8rem; margin-right: 1.6rem;')
            .frow(style='margin-left: 2.5rem')
              .column.removeSides
                .label
                  input.input.shaddedInput.fitWidth(type='text' name='attr_itemName')
              .column.removeSides(style='max-width: 30.8%;')
                .label
                  input.input.shaddedInput(type='text' name='attr_itemType')
            div(style='margin-top: -1rem;')
              label.checklabel
                input.togglebox.sheet-toggle-show(type='checkbox' name='a')
                span.checkPlus &amp;
                span.checkMinus _
                .hiddenSection.frow
                  .column.removeSides
                    .label
                      textarea.input.shaddedInput(name='attr_itemDesc' style="text-align: left; font-family: 'Lora'; font-size: 1.5rem; margin-bottom: 0")


include roll-templates/cocAttack1
include roll-templates/skillz

script(type='text/worker')
  include ./modules/tabs.js
